.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #home {
    display: flex;
    flex-direction: column;
    width: 100%;
    > div {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
