@import "../../palette.scss";

#posts-table {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: auto;
  flex-direction: column;
  > .nav {
    display: block;
    width: 100%;
  }
  > .posts {
    width: 100%;
    table {
      width: 100%;
      min-width: 435px; // უფრო პატარა ზომის თეიბლი მობაილ დივაისზე არ იკითხებოდა, მაგიტო დაჭირდა სქროლი.
      border-collapse: collapse;
      font-size: 14px;
      td:last-of-type {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        > button {
          display: block;
          margin: 0 auto;
        }
      }
      th {
        background-color: $primary-blue;
      }
    }
  }
}
