@import "../../palette.scss";

table {
  width: 100%;
  min-width: 435px; // უფრო პატარა ზომის თეიბლი მობაილ დივაისზე არ იკითხებოდა, მაგიტო დაჭირდა სქროლი.
  border-collapse: collapse;
  font-size: 12px;
}
#posts-table {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
th,
td {
  border: 1px solid $primary-color;
  padding: 8px;
  text-align: left;
}
.posts {
  width: 100%;
}

th {
  background-color: $table-header-color;
}

@media screen and (max-width: 768px) {
  #posts-table {
    justify-content: start;
  }
}
@media screen and (min-width: 1024px) {
  table {
    font-size: 10px;
  }
}
@media screen and (min-width: 1440px) {
  table {
    font-size: 16px;
  }
}
