<section id="posts-table">
  <app-navigation class="nav"></app-navigation>
  <div class="posts">
    @if(loading) {
    <div class="loading-overlay">
      <div class="spinner"></div>
    </div>
    }
    <table>
      <thead>
        <tr>
          <th>მომხმარებლის სახელი</th>
          <th>პოსტის სათაური</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (post of paginatedPosts; track trackByPost){
        <tr>
          <td>{{ getUsername(post.userId) }}</td>
          <td>{{ post.title }}</td>
          <td>
            <button
              (click)="
                openVerticallyCentered(content); getProps(post.title, post.body)
              "
            >
              დეტალურად
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <mat-paginator
      [length]="posts.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ postTitle }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ postBody }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      დახურვა
    </button>
  </div>
</ng-template>
