.container {
  width: 100%;
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  > div.card {
    width: 100% !important;
    min-height: 580px;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: 0.5s;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    > div.card {
      width: 45% !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    > div.card {
      width: 30% !important;
    }
  }
}
