@import "../../palette.scss";

ul {
  padding: 0;
  width: 50%;
  > li {
    list-style: none;

    &:first-of-type {
      margin-bottom: 5px;
    }
    &:last-of-type {
      margin-top: 5px;
    }
    > a {
      padding: 10px;
      text-decoration: none;
      color: $primary-light;
      font-size: 12px;
      width: 100%;
      display: block;
      text-align: center;
      background-color: $primary-blue;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bold;
      position: relative;
      overflow: hidden;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  ul {
    > li {
      > a {
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  ul {
    > li {
      > a {
        font-size: 18px;
      }
    }
  }
}
