<section id="table">
  <div class="users">
    <table>
      <thead>
        <tr>
          <th>სახელი</th>
          <th>გვარი</th>
          <th>ტელ. ნომერი</th>
          <th>ელ. ფოსტა</th>
          <th>კომპანია</th>
          <th>პოსტები</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name | name }}</td>
          <td>{{ user.name | surname }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.company.name }}</td>
          <td>
            <button [routerLink]="['/user-posts', user.id]">
              იხილეთ პოსტები
            </button>
          </td>
          <!-- last row is for the link which navigates to that users posts page, now its just filled with dummy data -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="posts">
    <table>
      <thead>
        <tr>
          <th>პოსტის სათაური</th>
          <th>მომხმარებლის სახელი</th>
          <th>პოსტი</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>{{ item.name }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
