@import "../../palette.scss";

table {
  width: 100%;
  min-width: 435px; // უფრო პატარა ზომის თეიბლი მობაილ დივაისზე არ იკითხებოდა, მაგიტო დაჭირდა სქროლი.
  border-collapse: collapse;
  font-size: 12px;
}
#table {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
td:last-of-type,
td:nth-of-type(6) {
  padding: 10px;
  > button {
    display: block;
    margin: 0 auto;
  }
}
th {
  background-color: $primary-blue;
}
.users {
  width: 100%;
  overflow-x: auto;
}
@media screen and (max-width: 768px) {
  #table {
    justify-content: start;
  }
}
@media screen and (min-width: 1024px) {
  table {
    font-size: 10px;
  }
}
@media screen and (min-width: 1440px) {
  table {
    font-size: 16px;
  }
}
.nav {
  width: 100%;
}
