@import "../../palette.scss";

.wrapper {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  .nav {
    width: 100%;
  }
  #table {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    .users {
      width: 100%;
      overflow-x: auto;
      table {
        width: 100%;
        min-width: 435px; // უფრო პატარა ზომის თეიბლი მობაილ დივაისზე არ იკითხებოდა, მაგიტო დაჭირდა სქროლი.
        border-collapse: collapse;
        font-size: 14px;
        td:last-of-type,
        td:nth-of-type(6) {
          padding: 10px;
          > button {
            display: block;
            margin: 0 auto;
          }
        }
        th {
          background-color: $primary-blue;
        }
      }
    }
  }
}
